apiVersion: v1
kind: PersistentVolume
metadata:
  name: elasticsearch-data-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /tmp/es-data
    type: Directory

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elasticsearch-data-pvc
  namespace: logging
spec:
  volumeName: elasticsearch-data-pv
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch
  namespace: logging
spec:
  selector:
    matchLabels:
      app: elasticsearch
  replicas: 1
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      initContainers:
        - name: busybox
          image: busybox:1.28
          command: ['sh', '-c', "chown -R 1000:1000 /usr/share/elasticsearch/data"]
          volumeMounts:
            - name: data
              mountPath: /usr/share/elasticsearch/data
      containers:
        - name: elasticsearch
          image: 'docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2'
          ports:
            - containerPort: 9200
            - containerPort: 9300
          resources: {}
          env:
            - name: discovery.type
              value: single-node
          volumeMounts:
            - name: elasticsearch-config
              mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
              subPath: elasticsearch.yml
            - name: data
              mountPath: /usr/share/elasticsearch/data
      volumes:
        - name: elasticsearch-config
          configMap:
            name: elasticsearch-config
        - name: data
          persistentVolumeClaim:
            claimName: elasticsearch-data-pvc
      hostNetwork: false
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
---
kind: Service
apiVersion: v1
metadata:
  name: elasticsearch
  namespace: logging
spec:
  selector:
    app: elasticsearch
  type: NodePort
  ports:
    - protocol: TCP
      port: 9200
      targetPort: 9200
      nodePort: 30003

